<main class="container">
  <div class="jumbotron">
    <div class="row">
    <div class="col-md-5 "><img id="burgerPic" src="/assets/img/pic_1.png" alt=""></div>
    <div class="col-md-6 "><p class="logo">Burgers!</p></div>

    </div>
  </div>
  </div>


<div class="row">
<div class="col-md-6">
<h2>Burgers to Eat</h2>
<ul>
  {{#each burgers}}
     {{#unless devoured}}
     <li>
       <div class="row">
    	<div class="col-md-6">{{burger_name}}</div>
         <div class="col-md-6"> <button class="btn btn-success btn-sm change-devour" id="{{id}}">
		Eat It! </button></div>
       </div>
          <hr>
      </li>
    {{/unless}}
  {{/each}}
</ul>
</div>
<div class="col-md-6">
<h2>Burgers to Delivered</h2>
<ul>
   {{#each burgers}}
    {{#if devoured}}
    <li>
   <div class="row">
    	<div class="col-md-6">{{burger_name}}</div>
         <div class="col-md-6"> <button class="btn btn-danger btn-sm delete-burger " id="{{id}}">
	Delete </button></div>
       </div>
          <hr>
      </li>
    {{/if}}
  {{/each}}
</ul>
</div>
</div>

<div class="row">
<div class="col">
  <h2>Add a Burger</h2>
</div>

<div class="col-12 ">
<form class="create-form">
  <div class="form-group input-group mb-3">
    <input type="text" id="newBg" class="form-control" name="burger_name" placeholder="Berger Name:">
 
  <div class="input-group-append">
  <button type="submit" class="btn btn-primary">Add Burger</button>
  </div>
 </div>
</form>
</div>
</div>
</main>